__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

*.log
*.pot
*.pyc
*.pyo
*.sqlite3

db.sqlite3
media/
staticfiles/
#static/

.vscode/
.idea/
*.swp
*.swo

.DS_Store

*/__pycache__/

.coverage
htmlcov/

.env
.pytest_cache/
.mypy_cache/
celerybeat-schedule