asgiref==3.10.0
certifi==2025.11.12
charset-normalizer==3.4.4
crispy-bootstrap4==2025.6
Django==5.2.8
django-crispy-forms==2.5
django-debug-toolbar==6.1.0
docopt==0.6.2
flake8==5.0.4
flake8-quotes==3.3.1
flake8-variables-names==0.0.5
idna==3.11
iniconfig==2.3.0
mccabe==0.7.0
packaging==25.0
pep8-naming==0.13.2
pipreqs==0.4.13
pluggy==1.6.0
pycodestyle==2.9.1
pyflakes==2.5.0
Pygments==2.19.2
pytest==9.0.1
pytest-django==4.11.1
requests==2.32.5
sqlparse==0.5.3
urllib3==2.5.0
yarg==0.1.10