{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card shadow-lg p-4" style="width: 400px; border-radius: 12px;">
    <h3 class="text-center mb-4">Login to Your Account</h3>

    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
			{{ form|crispy }}
      <input type="submit" value="Login" class="btn btn-primary btn-block mt-3" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>

    <hr>
  </div>
</div>
{% endblock %}
