<ul class="nav nav-tabs">
  <li class="nav-item">
  {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link active" href="{{ user.get_absolut_url }}">user: {{ user.get_username }}</a>
      <a type="button" class="btn btn-primary btn-sm ml-3" href="{% url 'blog:logout' %}?next={{request.path}}">logout</a>
    </li>
  {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'blog:login' %}?next={{ request.path }}">Login</a>
    </li>
  {% endif %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'blog:index' %}">Homepage</a>
    </li>
</ul>
