.taskblock {
  border: 2px solid rgba(0, 0, 0, 0.50);
  border-radius: 10px;
  padding: 10px 10px;
  margin: 30px 0;
}

.headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  padding: 6px 12px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}
