html, body {
    height: 100%;
}

.container {
    max-width: 1000px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.title {
    margin: 20px 0 0 0;
    font-size: 32px;
}

.info{
    color: gray;
    font-size: 14px;
}

.post-content {
    font-size: 20px;
    margin: 10px 0;
}



.comment-table {
    border: 1px solid black;
    width: 100%;
    margin: 20px 0;
}

.comment-table td{
    padding: 10px;
}

.login-block {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

