body {
  background-color: #f8f9fa; /* світло-сірий фон */
  font-family: "Segoe UI", Arial, sans-serif;
}

h2, h3 {
  font-weight: 600;
}

.card {
  border-radius: 12px;
}

textarea {
  resize: none;
}
