.bg-image {
  background-image: url("/static/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.bg-white-frost {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(3px);
}

.post-item {
  height: 16vh;
  overflow: hidden;
}
