body {
    margin-top: 20px;
}

.article {
    background-color: white;
    border: 1px solid lightgrey;
    padding: 20px;
}

.comments {
    background-color: white;
    border: 1px solid lightgrey;
    margin: 0;
    padding-left: 5px;
    text-align: left;
}

.sidebar {
    background-color: grey;
}
