body {
  display: flex;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 120px;
  background-color: lightgray;
  padding: 15px;
  height: 100vh;
  position: fixed;
  border-radius: 10px;
  clear: both;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 10px 0;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 22px;
}

.content {
  flex: 1;
  padding: 15px;
  margin-left: 150px; /* Added margin to accommodate sidebar */
}

.page-wrapper {
  display: flex;
  flex-direction: column;
}

.pagination {
  text-align: center;
  margin-top: 15px;
}

.page-link {
  text-decoration: none;
  margin: 0 5px;
  padding: 5px 10px;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.page-link:hover {
  background-color: #0056b3;
}

.current-page {
  font-weight: bold;
  margin: 0 10px;
}

.comments-section {
  margin-top: 20px;
}

.comment {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  position: relative;
  padding-left: 20px; /* Added padding to accommodate the left border */
}

.comment:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background-color: #007bff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.comment p {
  margin: 5px 0;
}

.comment .comment-date {
  font-size: 12px;
  color: #777;
}
