html {
    background-color: azure;
}

body {
    margin: 100px;
}

.posts_blocks {
    text-align: center;
    border: 2px cadetblue;
    border-radius: 6px;
    color: black;
    font-size: 30px;
}

.posts_header {
    background-color: lightgray;
}

.posts_create {
    background-color: cornflowerblue;
}

.welcome_title {
    text-align: center;
    background-color: antiquewhite;
    border: 2px cadetblue;
    border-radius: 6px;
}

.index_pagination {
    margin: 20px auto;
    padding-bottom: 20px;
    width: 12em
}


.buttons {
    border: solid 1px;
    border-radius: 6px;
    width: 150px;
    margin-bottom: 5px;
}

.button_details {
    color: green;
}

.button_update {
    color: cornflowerblue;
}

.button_delete {
    color: red;
}

.modal-content {
    padding: 20px;
}


