body {
    margin: 30px;
    width: 80%;
}

.commentary {
    border: 1px solid rgba(211, 211, 211, 0.7);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.post-content {
    padding: 20px 0;
    font-size: large;
    text-align: justify;
}

.comments-number {
    margin-bottom: 20px;
}

.warning {
    color: red;
    font-weight: bold;
}

.content {
    text-align: justify;
}

.comment-add {
    padding: 10px 0;
}
