.title {
    font-size: 40px;
}
.page-subtitle {
    margin: 0;
}
textarea{
    display: block;
}
.content {
    font-size: 120%;
    margin-bottom: 20px;
}
.comments-count {
    margin-top: 10px;
    margin-bottom: 5px;
    font-style: normal;
}
.add-new-comment{
    font-weight: bold;
}
.li-item {
    border-style: solid;
    align-content: flex-start;
    padding: 5px;
    margin-bottom: 10px;
}
.ul-list {
    list-style: none;
    padding-inline-start: 0;
}
body {
    width: 80%;
}
