/* Основные стили для страницы */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 20px;
}

/* Стили для заголовков */
h1, h2 {
    font-weight: bold;
    color: #343a40;
}

h2 {
    margin-top: 30px;
}

/* Стили для ссылок */
a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

/* Стили для кнопок */
button {
    margin-top: 10px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Стили для постов */
.post {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.post h2 {
    font-size: 24px;
    color: #343a40;
}

.post p {
    font-size: 16px;
    color: #6c757d;
}

.post a {
    color: #007bff;
}

.post a:hover {
    color: #0056b3;
}

/* Стили для пагинации */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination .step-links a {
    padding: 10px 20px;
    border: 1px solid #007bff;
    margin: 0 5px;
    color: #007bff;
    text-decoration: none;
}

.pagination .step-links a:hover {
    background-color: #007bff;
    color: white;
}

.pagination .current {
    padding: 10px 20px;
    border: 1px solid #ccc;
    margin: 0 5px;
    background-color: #f8f9fa;
}
