body {
    margin-right: 150pt;
    margin-top: 10pt;
}

a, a.page-link:hover {
    text-decoration: none;
}

a:hover, .log-out:hover {
    text-decoration: underline;
}

.comment {
    border: darkgray solid 1pt;
    margin-bottom: 10pt;
    padding-left: 5pt;
    padding-right: 5pt;
    padding-bottom: 7pt;
}

.add-comment {
    width: 100%;
    min-height: 120pt;
    resize: vertical;
}

.comment:focus {
  outline: none;
}

.comment-section {
    font-size: 90%;
}

.comment-time {
    font-size: 85%;
    display: inline;
}

.sidebar-nav {
    list-style: none;
    padding: 10pt;
}

.log-out {
    border: none;
    background-color: transparent;
    color: #0d6efd;
    text-align: left;
    padding: 0;
    font-size: 85%;
}
