{% load crispy_forms_filters %}
<div class="comments">
    <p>{{ post.comments.count }} comment{{ post.comments.count|pluralize }}</p>
    <form action="" method="post">
      {% if user.is_authenticated %}
        <div class="comment-input">
          {% csrf_token %}
          <div class="row">
            <div class="col-sm-3 col-xs-4">
              {{ comment_form|crispy }}
            </div>
              <button class="btn btn-primary btn-xs" type="submit">Comment</button>
          </div>
        </div>
      {% else %}
        <p><a href="{% url 'login' %}?next={{ request.path }}">Log in</a> to write a comment</p>
      {% endif %}

    </form>
    {% if comments %}
      <ul>
        {% for comment in post.comments.all %}
          <div class="row">
            <div class="col-sm-2">
              <strong>{{ comment.user }}</strong>
            </div>
            {{ comment.created_time }}
          </div>
          <p>{{ comment.content }}</p>
          {% if user.is_authenticated and user == comment.user %}
            <div class="row">
              <form method="post">
                  {% csrf_token %}
                  <div class="col-sm-1">
                    <textarea name="edited_content">{{ comment.content }}</textarea>
                  </div>
                  <div class="col-sm-1">
                    <input type="hidden" name="edit_comment_id" value="{{ comment.id }}">
                    <button class="btn btn-warning" type="submit">Edit</button>
                  </div>
              </form>
              <form method="post">
                  {% csrf_token %}
                  <div class="col-sm-1">
                    <input type="hidden" name="delete_comment_id" value="{{ comment.id }}">
                    <button class="btn btn-danger" type="submit">Delete</button>
                  </div>
              </form>
            </div>
        {% endif %}
        {% endfor %}
      </ul>
    {% else %}
      <strong class="text-secondary">No comments yet...</strong>
    {% endif %}
  </div>
