{% if is_paginated %}
    <ul class="pagination">
      {% if post_list.has_previous %}
        <li class="page-item">
          <a
              class="page-link"
              href="?page={{ post_list.previous_page_number }}">
              Prev
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">Prev</span>
        </li>
      {% endif %}

      {% for page_number in post_list.paginator.page_range %}
        <li
            class="page-item
            {% if page_number == post_list.number %}
            active
            {% endif %}">
          <a
              class="page-link"
              href="?page={{ page_number }}">
              {{ page_number }}
          </a>
        </li>
      {% endfor %}

      {% if post_list.has_next %}
        <li class="page-item">
          <a
              class="page-link"
              href="?page={{ post_list.next_page_number }}">
              Next
          </a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <span class="page-link">Next</span>
        </li>
      {% endif %}
    </ul>
  {% endif %}
