{% if post_list.has_other_pages %}
  <nav>
    <ul class="pagination justify-content-center">
      {% if post_list.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ post_list.previous_page_number }}">
            prev
          </a>
        </li>
      {% endif %}

      {% for p in post_list.paginator.page_range %}
        {% if post_list.number == p %}
          <li class="page-item"><a class="page-link">{{ p }}</a></li>
        {% endif %}
      {% endfor %}

      {% if post_list.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ post_list.next_page_number }}">
            next
          </a>
        </li>
      {% endif %}
  </ul>
  </nav>
{% endif %}
