<header class="sticky-top">
  <h1>The Bloggest Blog</h1>
  <nav>
    <ul>
      <li>
        <a href="{% url "blog:index" %}">Home</a>
      </li>
        {% if user.is_authenticated %}
          <li>User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
          <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
        {% endif %}
    </ul>
  </nav>
</header>
