{% extends "base.html" %}

{% block content %}
  <h1>Create comment</h1>
  {% if error %}
    <p>{{  error}}</p>
  {% endif %}

  <form action="" method="post">
    {% csrf_token %}
    <label>Your commentary:
      <br>
      <input type="text" name="content" novalidate>
    </label>
    <br>
    <input type="hidden" name="user_pk" value="{{ user.pk }}">
    <input type="hidden" name="post_pk" value="{{ post_pk }}" >
    <input class="btn btn-primary" type="submit" value="Submit">
{% endblock %}
