{% extends "base.html" %}

{% block content %}
    <h1>Commentary List</h1>

    {% if commentary_list %}
      <table class="table">
        <tr>
          <th>ID</th>
          <th>Post</th>
          <th>User</th>
          <th>Created Time</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>

        {% for commentary in commentary_list %}
            <tr>
              <td>
                  {{ commentary.id }}
              </td>
              <td>
                  <a href="{% url 'blog:post-detail' pk=commentary.post.id %}">{{ commentary.post.title }}</a>
              </td>
              <td>
                  {{ commentary.user.username }}
              </td>
              <td>
                  {{ commentary.created_time }}
              </td>
              <td>
                  <a href="{% url 'blog:commentary-update' pk=commentary.id %}">UPDATE</a>
              </td>
              <td>
                  <a href="{% url 'blog:commentary-delete' pk=commentary.id %}">DELETE</a>
              </td>
          </tr>
        {% endfor %}
      </table>

    {% else %}
        <p>There are no commentaries yet.</p>
    {% endif %}
{% endblock %}
