{% extends "base.html" %}
{% block content %}
  <h1>Delete Comment</h1>

  <p>Are you sure you want to delete the comment: "{{ object.content }}"?</p>
  <form action="" method="post">
    {% csrf_token %}
    <input type="submit" value="Yes, delete" class="btn btn-danger"/>

    {% if request.META.HTTP_REFERER %}
      <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary">Cancel</a>
    {% else %}
      <a href="{% url 'blog:post-detail' pk=object.id %}" class="btn btn-secondary">Cancel</a>

    {% endif %}
  </form>
{% endblock %}
