{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
  <h1>Delete Commentary</h1>
  <p>Are you sure you want to delete the commentary by {{ commentary.user }} on the post "{{ commentary.post.title }}"?</p>
  <p><i>Once deleted, this action cannot be undone.</i></p>
  
  <form action="" method="post" novalidate>
    {% csrf_token %}

    <input type="submit" value="Yes, delete" class="btn btn-danger" />
    <a href="{% url 'blog:commentary-list' %}" class="btn btn-secondary">Cancel</a>
  </form>
{% endblock %}
