<div class="pagination">
    <span class="step-links">
        {% if post_list.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ post_list.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ post_list.number }} of {{ post_list.paginator.num_pages }}.
        </span>

        {% if post_list.has_next %}
            <a href="?page={{ post_list.next_page_number }}">Next</a>
            <a href="?page={{ post_list.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
</div>
