{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <div class="post-detail">
    <h1>{{ post.title }}</h1>
    <p class="post-info">{{ post.owner|capfirst }} at {{ post.created_time }}</p>
    <p class="post-body">{{ post.content }}</p>
    {% with post.comments.count as total_comments %}
      <p class="comment-info">{{ total_comments }} comment{{ total_comments|pluralize }}</p>
    {% endwith %}
    {% with post.comments.all as comments %}
      {% for comment in comments %}
        <div class="commentary">
          <p class="post-info">{{ comment.user|capfirst }} at {{ comment.created_time }}</p>
          <hr>
          <p class="post-body">{{ comment.content }}</p>
        </div>
      {% endfor %}
    {% endwith %}
    
    {% include 'includes/comment_form.html' %}
  </div>

{% endblock %}
