{% extends 'base.html' %}
{% load static %}

  {% block content %}
    {% for post in post_list %}
      <div class="post">
        <a href="{{ post.get_absolute_url }}" class="post-title"><h4>{{ post.title }}</h4></a>
        <p class="post-owner">{{ post.owner.username }}</p>
        <p class="post-content">{{ post.content|truncatewords:10 }} <a href="{{ post.get_absolute_url }}">Read more</a></p>
        <p class="post-additional-info">{{ post.created_time }} | Comments: {{ post.comments.count }}</p>
      </div>
    {% endfor %}
  {% endblock %}
{%  block pagination %}
  {% include "includes/paginator.html" %}
{% endblock %}
