{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
<div class="container mt-4">
<h3>{{ post.title }}</h3>
<p class="grey">Author: {{ post.owner }}, created: {{ post.created_time }}</p>
<p>{{ post.content }}</p>
<p>{{ post.comment_count }} comment{{ post.comment_count|pluralize }}</p>
{% if post.comments.all %}
  {% for comment in post.comments.all %}
    <table class="table table-bordered table-striped table-hover">
      <tr>
        <td class="grey">Author: {{ comment.user }}, created: {{ comment.created_time }}</td>
      </tr>
      <tr>
        <td>{{ comment.content }}</td>
      </tr>
    </table>

  {% endfor %}
{% else %}
  <p>There are no comments here yet.</p>
{% endif %}
<a href="{% url 'blog:commentary-create' post_pk=post.pk %}" class="btn btn-secondary">
  Add a Comment
</a>
{% endblock %}
</div>
