{% extends "base.html" %}

{% block content %}

  <a href="{{ previous_url }}">Go back</a>
  <h1>{{ request.user.first_name }} {{ request.user.last_name }} ({{ request.user }})</h1>
  <hr>
  {% for post in posts %}
  <h1>
    <a href="{% url "blog:post-detail" post.id %}">{{ post.title }}</a>
    {% if request.user == post.owner %}
      | <a href="{% url "blog:post-update" post.id %}" class="btn btn-secondary">Edit</a>
        <a href="{% url "blog:post-delete" post.id %}" class="btn btn-secondary">Delete</a>
    {% endif %}
  </h1>
  <p class="text-muted">{{ post.created_time }}</p>
  <p>{{ post.content }}</p>
  <br>
  {% endfor %}

{% endblock %}
