{% extends "base.html" %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <h1>Blog readers List</h1>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>First name</th>
            <th>Last name</th>
            <th>E-mail</th>
          </tr>
        </thead>
        <tbody>
          {% for user in user_list %}
            <tr>
              <td>{{ user.id }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.first_name }}</td>
              <td>{{ user.last_name }}</td>
              <td>{{ user.email }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
