<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>
			Blog posts
	</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

	{% load static %}
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>

	{% block content %}
	{% endblock %}

	{% block pagination %}
		<div class="pagination">
			{% include 'includes/pagination.html' %}
		</div>
	{% endblock %}
</body>
</html>