{% extends "base.html" %}

{% block content %}
    <h2 class="posts_header">
      Commentaries to post on topic
    </h2>

    {% if commentary_list %}
    <table class="table">
      {% for comment in commentary_list %}
        <tr>
          <td>
            <p style="color: grey; font-size: 12px">
              <strong>{{ comment.user }}</strong>
              commented at
              {{ comment.created_time|date:'d-m-Y G:i' }}
            </p>
            {{ comment.content }}
          </td>
        </tr>
      {% endfor %}

    </table>
    {% else %}
      <p>There are no comments in the blog.</p>
    {% endif %}
{% endblock %}